@tailwind base;
@tailwind components;
@tailwind utilities;
.background{
    background-image: url("/src/assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.background1{
    background-image: url("/src/assets/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bg{
    background-image: url(/src/assets/city.png);
}
.bgred{
    background-image: url(/src/assets/choose/bg.png);
}/* Container for testimonials */
.transition-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .transition-container.next {
    transform: translateX(-100%);
  }
  
  .transition-container.prev {
    transform: translateX(100%);
  }
  